.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

p {
  margin-bottom: 10px;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 38px;
  line-height: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.heading.highlight {
  max-width: 80%;
  background-color: #fff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
}

.heading.highlight._1 {
  display: inline-block;
  overflow: visible;
  max-width: none;
  margin-top: 0px;
  padding: 5px 10px;
}

.heading.highlight._2 {
  display: inline-block;
  max-width: auto;
  margin-top: 0px;
  padding: 5px 10px;
}

.heading.benefits {
  color: #000;
  text-align: center;
  text-transform: none;
}

.columns {
  min-height: 450px;
  background-color: #ddaab5;
}

.columns.hero {
  min-height: 500px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph {
  width: 65%;
  max-height: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 29px;
}

.paragraph.boxy-info {
  width: 70%;
  color: #fff;
  font-weight: 400;
}

.paragraph.logos {
  width: auto;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin-top: 15px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.button.get-offer {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button.boxy-info {
  margin-top: 30px;
  background-color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
  color: #000;
}

.column {
  height: 600px;
  padding-left: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column-2 {
  position: relative;
  z-index: 0;
  height: 600px;
  padding-left: 0px;
  background-image: url('../images/too-faced-desktop-hero-bg_02.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block {
  top: auto;
  bottom: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  text-align: left;
}

.section {
  height: 500px;
}

.section.get-offer {
  position: relative;
  z-index: 5;
  height: 500px;
  background-color: #fff;
  background-image: url('../images/patterm.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.heading-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  text-align: center;
}

.heading-2.enjoy {
  color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
  font-size: 38px;
}

.paragraph-2 {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  padding-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  grid-template-areas: ". . ." ". . ." ". . .";
  -ms-grid-columns: 0.25fr 0.25fr 0.25fr;
  grid-template-columns: 0.25fr 0.25fr 0.25fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid.mobile {
  display: none;
}

.columns-2 {
  height: 700px;
  background-color: #000;
}

.columns-2.boxy-info {
  z-index: auto;
  min-height: 550px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  text-transform: uppercase;
}

.heading-3.email {
  margin-top: 30px;
  color: #ababab;
  font-size: 38px;
  text-align: center;
  text-transform: none;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.heading-4 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
  font-size: 25px;
  font-weight: 600;
}

.boxy-info {
  color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
}

.boxy-info.h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.boxy-info.icon {
  height: 50px;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph-4 {
  color: #fff;
  text-align: center;
}

.italic-text {
  font-size: 12px;
}

.slide {
  top: 0px;
  z-index: 999;
  height: 100%;
  margin-bottom: 40px;
  border: 1px none #000;
  background-image: url('../images/november-box-compressor.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide._1 {
  height: 75%;
  background-image: url('../images/january-box-compressor.png');
  background-attachment: scroll;
}

.slide._2 {
  height: 75%;
  background-image: url('../images/december-box-compressor.png');
}

.slide._3 {
  height: 75%;
  margin-bottom: 0px;
}

.slide._4 {
  height: 75%;
  background-image: url('../images/october-box-compressor.png');
}

.section-2 {
  position: relative;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

.slider {
  position: absolute;
  display: block;
  overflow: visible;
  width: 100%;
  height: 550px;
  max-height: 630px;
  margin-top: -300px;
  margin-bottom: 50px;
  background-color: transparent;
}

.section-3 {
  height: 250px;
}

.heading-5 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-top: 0px;
  margin-bottom: -33px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.slide-nav {
  display: none;
}

.right-arrow {
  display: none;
}

.left-arrow {
  display: none;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.image {
  position: absolute;
  left: 42%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.image.product {
  bottom: -20%;
  z-index: -5;
  min-height: 500px;
}

.image.product.shadow {
  z-index: -6;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-2.mobile {
  display: none;
}

.text-span {
  color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
}

.text-span-2 {
  color: #d2d0d0;
}

.logos {
  background-color: #000;
}

.logos.mobile {
  display: none;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 51px;
  grid-template-areas: ". ." ". ." ". .";
  -ms-grid-columns: 0.5fr 16px 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: auto 51px auto 51px auto;
  grid-template-rows: auto auto auto;
}

.columns-3 {
  height: 480px;
}

.column-5 {
  position: static;
  height: 100%;
  padding-left: 0px;
}

.column-6 {
  height: 100%;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.text-span-3 {
  padding-left: 10px;
  color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-4 {
  display: inline;
  max-width: 1480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(347.05882352941177, 42.86%, 76.67%, 1.00);
}

.section-5 {
  height: 900px;
  padding-top: 80px;
  background-color: hsla(357.77777777777777, 65.85%, 91.96%, 1.00);
}

.section-5.benefits {
  height: auto;
}

.div-block-4 {
  margin: 30px 50px;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
}

.image-2 {
  display: block;
  margin-top: 30px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.heading-7 {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.grid-3 {
  padding-bottom: 20px;
  grid-row-gap: 0px;
  grid-template-areas: ". . . ." ". . . .";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 0px auto;
  grid-template-rows: auto auto;
}

.gif.benefits._1 {
  max-height: 150px;
  max-width: none;
}

.gif.benefits._2 {
  max-height: 150px;
  max-width: none;
}

.gif.benefits._3 {
  max-height: 150px;
}

.gif.benefits._4 {
  max-height: 150px;
}

.benefits {
  font-weight: 700;
  text-align: center;
}

.benefits.paragraph {
  width: auto;
  color: hsla(347.3076923076923, 38.81%, 73.73%, 1.00);
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

.benefits.paragraph.features {
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
}

.image-7 {
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 30px;
}

.div-block-6 {
  margin-bottom: 35px;
}

.image-8 {
  margin-top: 35px;
  margin-bottom: -55px;
}

.section-6 {
  height: 400px;
  background-color: #ddaab5;
}

.div-block-7 {
  position: relative;
  height: 450px;
  margin-top: -100px;
  background-color: #fff;
}

.div-block-7.email {
  height: 340px;
}

.html-embed-2 {
  margin-top: 35px;
  text-align: center;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-9 {
  margin-top: 40px;
}

.div-block-9 {
  width: 75%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .heading {
    font-size: 34px;
  }
  .paragraph {
    width: 75%;
    font-size: 15px;
  }
  .paragraph.logos {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .section.get-offer {
    background-image: none;
  }
  .heading-2.email {
    margin-top: 60px;
  }
  .heading-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .heading-3.email {
    margin-bottom: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .column-3 {
    height: auto;
    padding-top: 57px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .slide._4 {
    margin-bottom: 52px;
  }
  .section-2 {
    padding-bottom: 55px;
  }
  .slider {
    height: 350px;
    min-height: auto;
    margin-top: -75px;
  }
  .logos.mobile {
    display: block;
  }
  .logos.desktop {
    display: none;
  }
  .grid-2 {
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-template-areas: ". ." ". ." ". .";
    -ms-grid-columns: 0.25fr 0.25fr;
    grid-template-columns: 0.25fr 0.25fr;
    text-align: center;
  }
  .columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-5 {
    height: auto;
    padding-right: 0px;
  }
  .column-6 {
    height: auto;
  }
  .heading-6 {
    margin-top: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .div-block-3 {
    height: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .section-5.benefits {
    padding-top: 60px;
  }
  .grid-3 {
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 16px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .gif.benefits._1 {
    width: 100px;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    color: transparent;
  }
  .gif.benefits._2 {
    width: 100px;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .gif.benefits._3 {
    width: 100px;
    max-width: none;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .gif.benefits._4 {
    width: 100px;
    max-width: none;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .section-6 {
    height: 350px;
  }
  .html-embed-2 {
    margin-top: 30px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .div-block-8 {
    padding-top: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-9 {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .paragraph {
    font-size: 21px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, .15);
  }
  .paragraph.logos {
    width: 70%;
  }
  .column {
    height: 800px;
    padding-left: 0px;
    background-image: url('../images/too-faced-bg-mobile.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .column-2 {
    display: none;
    clear: right;
  }
  .div-block {
    width: 100vw;
    height: auto;
    margin-top: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .heading-2.enjoy {
    font-size: 32px;
  }
  .heading-2.email {
    margin-top: auto;
  }
  .grid {
    display: none;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .grid.mobile {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    grid-template-areas: "." "." "." "." "." "." "." "." ".";
    -ms-grid-columns: 0.5fr;
    grid-template-columns: 0.5fr;
    -ms-grid-rows: auto 10px minmax(auto, 1fr) 10px auto 10px auto 10px minmax(auto, 1fr) 10px auto 10px auto 10px minmax(auto, 1fr) 10px auto;
    grid-template-rows: auto minmax(auto, 1fr) auto auto minmax(auto, 1fr) auto auto minmax(auto, 1fr) auto;
  }
  .heading-3.email {
    line-height: 38px;
  }
  .boxy-info.icon {
    height: auto;
    max-height: 75px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .column-4 {
    display: inline-block;
    height: auto;
  }
  .paragraph-4 {
    margin-bottom: 25px;
  }
  .section-2 {
    height: 1200px;
  }
  .slider {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 315px;
    margin-top: 0px;
    margin-bottom: -236px;
  }
  .image.product {
    z-index: 1;
  }
  .image.product.shadow {
    z-index: 0;
  }
  .div-block-2 {
    height: 100%;
  }
  .div-block-2.mobile {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .column-5 {
    padding-right: 0px;
  }
  .div-block-3 {
    width: 100%;
  }
  .section-5.benefits {
    min-width: auto;
  }
  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .image-3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .grid-3 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 0px;
    grid-template-areas: ". ." ". ." ". ." ". .";
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 1fr auto auto;
    grid-template-rows: auto 1fr auto auto;
  }
  .gif.benefits._1 {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .gif.benefits._2 {
    max-width: none;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .gif.benefits._3 {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .gif.benefits._4 {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  .benefits.paragraph {
    text-shadow: none;
  }
  .benefits.paragraph.features {
    font-size: 18px;
  }
  .div-block-7.email {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-8 {
    height: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .container-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-10 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .div-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    max-width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
  }
  .div-block-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .heading.highlight._1 {
    width: 100%;
  }
  .heading.highlight._2 {
    width: 100%;
    max-width: none;
    padding-right: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .paragraph.logos {
    width: 70%;
  }
  .div-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section.get-offer {
    height: auto;
  }
  .heading-2 {
    margin-top: auto;
  }
  .heading-2.enjoy {
    font-size: 30px;
  }
  .container-2 {
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .heading-3.email {
    margin-top: 0px;
    font-size: 30px;
  }
  .section-2 {
    height: auto;
    padding-bottom: 60px;
  }
  .slider {
    max-height: auto;
  }
  .heading-5 {
    font-size: 18px;
  }
  .div-block-2.mobile {
    height: auto;
  }
  .heading-6 {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 30px;
  }
  .text-span-3 {
    padding-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-block-3 {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .section-5.benefits {
    padding-top: 0px;
  }
  .image-3 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .heading-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 30px;
  }
  .grid-3 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: 0.5fr;
    grid-column-gap: 15px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 0.5fr;
    grid-template-columns: 0.5fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .gif.benefits._1 {
    max-width: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .gif.benefits._2 {
    max-width: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .gif.benefits._3 {
    max-width: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .gif.benefits._4 {
    max-width: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .benefits.paragraph.features {
    display: block;
    font-size: 15px;
  }
  .div-block-7.email {
    width: 100%;
  }
  .div-block-9 {
    width: 100%;
  }
}

#w-node-7bbaeafc005f-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e99ef4622b4e-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-64e484415b66-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-a046a8a11b21-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-be857f5af30a-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-ff48af11a400-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-5121b18859bf-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-afcc3893e9d6-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-9b0b92808980-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-39bbe9fb1580-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-d74965c01757-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-60f27d21bb94-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-02e6755c8ef9-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-92f25699f8c6-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-01f635bdc970-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc970-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-01f635bdc971-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc971-1acad8dc {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-01f635bdc972-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc972-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-01f635bdc973-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc973-1acad8dc {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-01f635bdc975-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc975-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-01f635bdc977-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc977-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-01f635bdc979-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-01f635bdc97b-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc97b-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-01f635bdc984-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 767px) {
  #w-node-01f635bdc984-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }
}

#w-node-b4e0b42f8e30-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1efc5c2e2ae7-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-20fff2c25411-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-45873121287f-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-bdb3770af685-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b9107e3225a7-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c9140d025cdd-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c9140d025cde-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c9140d025cdf-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c9140d025ce0-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c9140d025ce1-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c9140d025ce2-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-41264f5ea758-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-41264f5ea758-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

@media screen and (max-width: 767px) {
  #w-node-41264f5ea758-1acad8dc {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-41264f5ea758-1acad8dc {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-d63d4ac9f068-1acad8dc {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-d63d4ac9f068-1acad8dc {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d63d4ac9f068-1acad8dc {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d63d4ac9f068-1acad8dc {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

#w-node-8ecc60c62cc2-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-8ecc60c62cc2-1acad8dc {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

@media screen and (max-width: 767px) {
  #w-node-8ecc60c62cc2-1acad8dc {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-8ecc60c62cc2-1acad8dc {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

#w-node-d86b2ef7086f-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-d86b2ef7086f-1acad8dc {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d86b2ef7086f-1acad8dc {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d86b2ef7086f-1acad8dc {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-17e80ec92c41-1acad8dc {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-17e80ec92c41-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-ca2337946ab3-1acad8dc {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-3e3173d2a9e1-1acad8dc {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-3e3173d2a9e1-1acad8dc {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-3e3173d2a9e1-1acad8dc {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

#w-node-c1ffea63422f-1acad8dc {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-c1ffea63422f-1acad8dc {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c1ffea63422f-1acad8dc {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}